*{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}

h1, h3, h5{
 color: rgba(226, 43, 10, 0.808);
 margin: 1rem;
 padding: .5rem;
 

}
body{
 background-color: #ebe487;
 
}
.popisknjiga{
 display:flex;
 flex-direction: column;
 flex-wrap: nowrap;
 align-items: center;
 justify-content: space-around;
 /* align-items: flex-start; */
}
.knjiga{
 background-color: rgba(228, 185, 185, 0.39);
 margin: 1rem;
 padding: 2%;
}
.batn{
 color: red;
 margin-left: 3rem;
 font-size: 1.5rem;
 padding:4px ;

}